@font-face {
  font-family: StandardSpecial;
  src: url('./graphics/ParisineOfficeWeb-Regular.woff');
  font-weight: normal;
}

@font-face {
  font-family: StandardSpecial;
  src: url('./graphics/ParisineOfficeWeb-Bold.woff');
  font-weight: bold;
}

body {
  margin: 0;
  font-family: StandardSpecial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button, code, input {
    font-family: StandardSpecial;
}